/* ANIMATIONS */

@keyframes loadShadow {
  0% {
    color: #fff;
  }
  100% {
    -webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.75);
    background-color:#fff;
    color:rgb(40,40,40);
    width:159px;
  }
}

/* General CSS used in multiple areas */

.btn {
  border: 1px solid #fff;
  width:150px;
  height:40px;
  border-radius: 0;
  padding: 8px 12px !important;
}

/* The rest of the CSS is in order of page layout, from top to bottom */
/* NAVBAR CSS */

nav.navbar.navbar-default {
  margin:0;
  border:none;
  background-color:#fff;
  min-height: 95px !important;
  font-family: "Roboto";
  font-size:13px;
}

.navbar-default .navbar-nav>li>a {
  color: #0B1035;
  letter-spacing: 2px;
  padding-left:20px;
  padding-right:20px;
}

.navbar-brand
{
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin:0 auto;
  top: 0;

}

.navbar-brand>img {
  display:inline-block;
}

.navbar-toggle {
    z-index:3;
    margin-top:28px;
}

.navbar-collapse {
  max-width: 1200px;
  margin:0 auto!important;
}

.navbar-nav > li > a {
    padding-top:35px !important;
    padding-bottom:0 !important;
    height: 95px;
}

.navbar-header {
  height:95px;
}

/* JUMBOTRON CSS */
.fitforwork-jumbotron {
  font-family: "Roboto Slab";
  height:510px;
  text-align: center;
  background-image: url("assets/WZ400_neck_red.png");
  background-repeat:no-repeat;
  background-position:center;
  color:#fff;
}

.fitforwork-jumbotron h2 {
  font-weight:100;
  font-size:80px;
}

.fitforwork-jumbotron p.workfit {
  font-weight: 700;
  font-size:14px;
  letter-spacing: 3px;
  margin-top: 90px;
}

.fitforwork-jumbotron .btn {
  margin-top:20px;
}

.shop-now-btn {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: normal;
  color:#fff;
}

.shop-now-btn:hover {
  animation: 0.3s cubic-bezier(.34, .97, .77, .99) 0s 1 loadShadow;
  animation-fill-mode: forwards;
}
