/* ANIMATIONS */

@keyframes loadShadow {
  0% {
    color: #fff;
  }
  100% {
    -webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.75);
    background-color:#fff;
    color:rgb(40,40,40);
    width:159px;
  }
}

/* General CSS used in multiple areas */
body {
  font-family: "Roboto";
}


.col-md-6 {
  /*border:1px solid #aaf2ff;*/
}

/* The rest of the CSS is in order of page layout, from top to bottom */
/* NAVBAR CSS */

nav.navbar.navbar-default {
  margin:0;
  border:none;
  background-color:#fff;
  min-height: 95px !important;
  font-family: "Roboto";
  font-size:13px;
  border-bottom: 1px solid rgb(220,220,220);
  margin-bottom:2px;
  border-radius:0;
}

.navbar-default .navbar-nav>li>a {
  color: #0B1035;
  letter-spacing: 2px;
  padding-left:20px;
  padding-right:20px;
}

.navbar-brand
{
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin:0 auto;
  top: 0;

}

.navbar-brand>img {
  display:inline-block;
}

.navbar-toggle {
    z-index:3;
    margin-top:28px;
}

.navbar-collapse {
  max-width: 1200px;
  margin:0 auto!important;
}

.navbar-nav > li > a {
    padding-top:35px !important;
    padding-bottom:0 !important;
    height: 95px;
}

.navbar-header {
  height:95px;
}

/* JUMBOTRON CSS */
.fitforwork-jumbotron {
  font-family: "Roboto Slab";
  height:510px;
  text-align: center;
  background-image: url("assets/WZ400_neck_red.png");
  background-repeat:no-repeat;
  background-position:center;
  background-size: cover;
  color:#fff;
  margin-bottom:130px;
}

.fitforwork-jumbotron h2 {
  font-weight:100;
  font-size:80px;
}

.fitforwork-jumbotron p.workfit {
  font-weight: 100;
  font-size:14px;
  letter-spacing: 3px;
  margin-top: 90px;
  font-family: "Roboto";
}

.fitforwork-jumbotron .btn {
  margin-top:20px;
}

.fitforwork-jumbotron .shop-now-btn {
  font-family: "Roboto" !important;
  font-size: 14px;
  font-weight: normal;
  color:#fff;
  border: 1px solid #fff;
  width:150px;
  height:40px;
  border-radius: 0;
  padding: 8px 12px !important;
  letter-spacing: 3.5px;
  font-weight:100;
}

.shop-now-btn:hover {
  animation: 0.3s cubic-bezier(.34, .97, .77, .99) 0s 1 loadShadow;
  animation-fill-mode: forwards;
}

.clothing-showcase {
  padding-bottom:40px;
}

.clothing-showcase img.first {
  width:520px;
  height:520px;
}

.clothing-showcase img.second {
  width:585px;
  height:585px;
}

.clothing-showcase img.second {
  width:513px;
  height:513px;
}

.clothing-showcase h3 {
  margin-top:140px;
  font-size:42px;
  font-weight:100;
  color: #0B1035;
  margin-bottom:7px;
}


.clothing-showcase p.description {
  color: #9B9B9B;
  margin-top:0;
  font-size:18px;
  font-weight:300;
  line-height:1.6;
  width:400px;
}

.clothing-showcase .shop-btn {
  font-weight:normal;
  font-size:14px;
  letter-spacing: 3.5px;
  color: #0B1035;
  padding-left: 0;
}

.our-process {
  background-color: #0B1035;
  margin-top:150px;
  margin-bottom:170px;
}

.our-process .col-md-5{
  background-image:url("assets/_MG_2105.png");
  background-repeat:no-repeat;
  background-position:center;
  background-size: cover;
  padding:0!important;
  margin:0!important;
  height: 581px;
}
.our-process .col-md-7 {
  padding-left:110px;
}

.our-process h3 {
  color: #fff;
  font-weight:300;
  font-size:42px;
  line-height: 1.3;
  margin-top:142px;
}

.our-process p{
  color: #fff;
  line-height: 1.6;
  font-weight:300;
  font-size:22px;
}

.our-process .about-btn {
  width:174px;
  height:40px;
  background-color:#fff;
  font-size:14px;
  border-radius: 0;
  padding-top:9px;
  letter-spacing: 3.5px;
  color:#0B1035;
  margin-top:23px;
}

.from-the-blog {
  text-align: center;
  margin-bottom:20px;
}

.from-the-blog h3 {
  font-size: 42px;
	font-weight: 100;
	line-height: 1.29;
  color: #0b1035;
  text-align: left;
  margin-left:55px;
}


.from-the-blog .view-all {
  color: #0b1035;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight:normal;
  margin-top:35px;
  margin-right: 25px;
}

.from-the-blog .blog-post {
  width:490px;
  height:830px;
  background-color:#fafafa;
  position:relative;
  display: inline-block;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.15);
  margin-left: 20px;
  margin-right:20px;
  text-align: left;
  margin-bottom:60px;
}

.from-the-blog .blog-post img {
  margin:0;
}

.from-the-blog .blog-post .latest-post {
  font-size: 12px;
	font-weight: normal;
  color:#b2171d;
  margin-top:52px;
  margin-left:47px;
  letter-spacing: 2px;
}

.from-the-blog .blog-post .latest-post-title{
  font-size: 42px;
	font-weight: 300;
  color:#b2171d;
  letter-spacing: -1px;
  margin-top:7px;
  margin-left: 47px;
  line-height:1.1;
}

.from-the-blog .blog-post .description {
  color: #9b9b9b;
  font-weight: 300;
  letter-spacing: 0.6px;
  margin-top: 15px;
  margin-left: 47px;
  line-height:1.62;
  font-size:18px;
  width:409px;
}

.wholesale {
	height: 264px;
	background-color: #0b1035;
  margin-bottom:40px;
  text-align:center;
  text-align: center;
}

.wholesale h3 {
  margin-top:70px;
  font-size: 42px;
  color : #fff;
  font-weight: 300;
  margin-bottom: 19px;
}

.wholesale .submit-inquiry-btn {
  width: 209px;
	height: 40px;
	background-color: #ffffff;
  font-size: 14px;
	letter-spacing: 3.5px;
  border-radius: 0;
  color: #0b1035;
  padding-top:8px;
}



/*Product Detail Page CSS*/
#product-detail-body {
  font-family: "Roboto-Thin";
  width: 100%;
}
#product-detail-body h2 {
  color: #0B1035;
  font-size: 42px;
}
#product-detail-body p {
  color: #9B9B9B;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 26px;
}
.product-main-img {
  /*margin-top: 45px;
  margin-left: 90px;*/
  margin: 45px 0 0 90px;
}
.product-side-img-cont {
  margin: 0 0 0 150px;
}
#product-side2 {
  margin: 0 10px;
}
.product-description-cont {
  position: relative;
  width: 506px;
  height: 378px;
  float: right;
  margin: 166px 102px 0 0;
}
.product-description-cont p {
  width: 440px;
}
.info-btn-cont {
  position: relative;
  width: 100%;
  height: 100px;
  margin-top: 14px;
}
.info-btn {
  position: absolute;
  width: 438px;
  background: none;
  color: #0B1035;
  text-align: left;
  font-family: "Roboto-Regular";
  font-size: 14px;
  border-bottom: 1.5px solid rgba(151,151,151,0.5);
  padding: 8px 0 !important;
  letter-spacing: 4px;
}
.info-btn img {
  position: absolute;
  right: 0;
  top: 12px;
}
#btn-size-chart {
  top: 0;
}
#btn-more-info {
  bottom: 0;
}
.bottom-btn-cont {
  width: 298px;
  height: 40px;
  position: absolute;
  bottom: 0;
}
.bottom-btn {
  font-family: "Roboto-Regular";
  letter-spacing: 4px;
  font-size: 14px;
  border: 0;
  height: 40px;
}
#btn-qty {
  width: 114px;
  float: left;
  background: #F0F0F0;
  color: #0B1035;
  text-align: left;
  padding: 8px 24px !important;
}
#btn-qty img {
  margin-left: 18px;
}
.bottom-btn-cont .dropdown-menu {
  min-width: 114px !important;
  border-radius: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: 0 !important;
  margin-top: 40px !important;
}
.bottom-btn-cont .dropdown-menu a {
  width: 100%;
}
.dropdown-item {
  display: block;
  width: 100%;
  padding: 3px 1.5rem;
  clear: both;
  font-weight: 400;
  color: #292b2c;
  text-align: inherit;
  white-space: nowrap;
  background: 0 0;
  border: 0;
}
#btn-cart {
  width: 174px;
  float: right;
  background: #0B1035;
}
#suggested-cont {
  position: relative;
  width: 100%;
  height: 436px;
  margin: 100px 0 0 0;
  background: #FAFAFA;
}
#banner-cont {
  width: 100%;
  height: 264px;
  margin: 0;
  background: #0B1035;
}


/* MEDIA QUERIES */

@media (max-width: 1200px){
  .clothing-showcase img.first {
    width:450px;
    height:450px;
  }

  .clothing-showcase img.second {
    width:515px;
    height:515px;
  }

  .clothing-showcase img.third {
    width:443px;
    height:443px;
  }

  .our-process h3 {
    margin-top:50px;
  }

  .our-process .about-btn {
    margin-bottom:100px;
  }

  .from-the-blog .col-md-2{
    display:block!important;
    float:none;
    margin: 0 auto;
    width:100%;
  }

  .from-the-blog .view-all {
    margin-top:12px;
  }

  .from-the-blog .col-md-10{
    display:block!important;
    width: 100%;
  }

  .from-the-blog h3 {
    margin:0 auto;
    text-align:center;
  }
}


@media (max-width: 991px){
  .clothing-showcase h3 {
    margin-top:10px;
  }
  .clothing-showcase p.description {
    width:auto;
  }
}
