/* ANIMATIONS */

@keyframes loadShadow {
  0% {
    color: #fff;
  }
  100% {
    -webkit-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.75);
    background-color:#fff;
    color:rgb(40,40,40);
    width:159px;
  }
}

/* General CSS used in multiple areas */
body {
  font-family: "Roboto";
}


.col-md-6 {
  /*border:1px solid #aaf2ff;*/
}

/* The rest of the CSS is in order of page layout, from top to bottom */
/* NAVBAR CSS */

nav.navbar.navbar-default {
  margin:0;
  border:none;
  background-color:#fff;
  min-height: 95px !important;
  font-family: "Roboto";
  font-size:13px;
  border-bottom: 1px solid rgb(220,220,220);
  margin-bottom:2px;
  border-radius:0;
}

.navbar-default .navbar-nav>li>a {
  color: #0B1035;
  letter-spacing: 2px;
  padding-left:20px;
  padding-right:20px;
}

.navbar-brand
{
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin:0 auto;
  top: 0;

}

.navbar-brand>img {
  display:inline-block;
}

.navbar-toggle {
    z-index:3;
    margin-top:28px;
}

.navbar-collapse {
  max-width: 1200px;
  margin:0 auto!important;
}

.navbar-nav > li > a {
    padding-top:35px !important;
    padding-bottom:0 !important;
    height: 95px;
}

.navbar-header {
  height:95px;
}

/* FOOTER CSS */

footer.stateline-footer {
  height:250px;
  border-top: 1px solid rgb(220,220,220);
  margin-top:81px!important;
  padding-top:48px;
  text-align:left;
}

footer.stateline-footer p {
  margin-bottom:20px;
}

footer.stateline-footer a {
  font-size: 12px;
	letter-spacing: 1.5px;
}

footer.stateline-footer a:hover {
  text-decoration: none;
}

footer.stateline-footer img.stateline-logo {
  margin-bottom: 50px;
}

footer.stateline-footer .links-col-one a {
  color:#4a4a4a;
}

footer.stateline-footer .links-col-two a {
  color:#9b9b9b;
}

footer.stateline-footer .social-media-icons a {
  margin:15px;
  color: #9B9B9B;
  font-size:14px;
}

/* JUMBOTRON CSS */
.fitforwork-jumbotron {
  font-family: "Roboto Slab";
  height:510px;
  text-align: center;
  background-image: url("assets/WZ400_neck_red.png");
  background-repeat:no-repeat;
  background-position:center;
  background-size: cover;
  color:#fff;
  margin-bottom:130px;
}

.fitforwork-jumbotron h2 {
  font-weight:100;
  font-size:80px;
}

.fitforwork-jumbotron p.workfit {
  font-weight: 100;
  font-size:14px;
  letter-spacing: 3px;
  margin-top: 90px;
  font-family: "Roboto";
}

.fitforwork-jumbotron .btn {
  margin-top:20px;
}

.fitforwork-jumbotron .shop-now-btn {
  font-family: "Roboto" !important;
  font-size: 14px;
  font-weight: normal;
  color:#fff;
  border: 1px solid #fff;
  width:150px;
  height:40px;
  border-radius: 0;
  padding: 8px 12px !important;
  letter-spacing: 3.5px;
  font-weight:100;
}

.shop-now-btn:hover {
  animation: 0.3s cubic-bezier(.34, .97, .77, .99) 0s 1 loadShadow;
  animation-fill-mode: forwards;
}

.clothing-showcase {
  padding-bottom:40px;
}

.clothing-showcase img.first {
  width:520px;
  height:520px;
}

.clothing-showcase img.second {
  width:585px;
  height:585px;
}

.clothing-showcase img.second {
  width:513px;
  height:513px;
}

.clothing-showcase h3 {
  margin-top:140px;
  font-size:42px;
  font-weight:100;
  color: #0B1035;
  margin-bottom:7px;
}


.clothing-showcase p.description {
  color: #9B9B9B;
  margin-top:0;
  font-size:18px;
  font-weight:300;
  line-height:1.6;
  width:400px;
}

.clothing-showcase-wrap .row-two p.shop-btn {
  text-align:right;
  width:400px;
}

.clothing-showcase .shop-btn {
  font-weight:normal;
  font-size:14px;
  letter-spacing: 3.5px;
  color: #0B1035;
  padding-left: 0;
}

.our-process {
  background-color: #0B1035;
  margin-top:150px;
  margin-bottom:170px;
}

.our-process .col-md-5{
  background-image:url("assets/_MG_2105.png");
  background-repeat:no-repeat;
  background-position:center;
  background-size: cover;
  padding:0!important;
  margin:0!important;
  height: 581px;
}
.our-process .col-md-7 {
  padding-left:110px;
}

.our-process h3 {
  color: #fff;
  font-weight:300;
  font-size:42px;
  line-height: 1.3;
  margin-top:142px;
}

.our-process p{
  color: #fff;
  line-height: 1.6;
  font-weight:300;
  font-size:22px;
}

.our-process p.description {
  padding-right:50px;
}

.our-process .about-btn {
  width:174px;
  height:40px;
  background-color:#fff;
  font-size:14px;
  border-radius: 0;
  padding-top:9px;
  letter-spacing: 3.5px;
  color:#0B1035;
  margin-top:23px;
}

.from-the-blog {
  text-align: center;
  margin-bottom:20px;
}

.from-the-blog h3 {
  font-size: 42px;
	font-weight: 100;
	line-height: 1.29;
  color: #0b1035;
  text-align: left;
  margin-left:55px;
}

.from-the-blog .fa-instagram {
  font-size:20px;
  vertical-align: middle;
  padding-bottom:6px;
}

.from-the-blog .view-all {
  color: #0b1035;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight:normal;
  margin-top:35px;
  margin-right: 25px;
}

.from-the-blog .blog-post {
  width:490px;
  height:830px;
  background-color:#fafafa;
  position:relative;
  display: inline-block;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.15);
  margin-left: 20px;
  margin-right:20px;
  text-align: left;
  margin-bottom:60px;
}

.from-the-blog .blog-post img {
  margin:0;
}

.from-the-blog .blog-post .latest-post {
  font-size: 12px;
	font-weight: normal;
  color:#b2171d;
  margin-top:52px;
  margin-left:47px;
  letter-spacing: 2px;
}

.from-the-blog .blog-post .latest-post-title{
  font-size: 42px;
	font-weight: 300;
  color:#b2171d;
  letter-spacing: -1px;
  margin-top:7px;
  margin-left: 47px;
  line-height:1.1;
}

.from-the-blog .blog-post .description {
  color: #9b9b9b;
  font-weight: 300;
  letter-spacing: 0.6px;
  margin-top: 15px;
  margin-left: 47px;
  line-height:1.62;
  font-size:18px;
  width:409px;
}

.wholesale {
	height: 264px;
	background-color: #0b1035;
  margin-bottom:40px;
  text-align:center;
  text-align: center;
}

.wholesale h3 {
  margin-top:70px;
  font-size: 42px;
  color : #fff;
  font-weight: 300;
  margin-bottom: 19px;
}

.wholesale .submit-inquiry-btn {
  width: 209px;
	height: 40px;
	background-color: #ffffff;
  font-size: 14px;
	letter-spacing: 3.5px;
  border-radius: 0;
  color: #0b1035;
  padding-top:8px;
}

.instagram .col-md-4 {
  background-color:blue;
  padding:0!important;
  text-align:left;
}

.instagram h3 {
  margin-left:-5px;
}

.instagram .view-all {
  margin-right:0;
}

.instagram img {
  height:380px;
  width:380px;
  display: inline-block;
  position:relative;
}

.instagram p.view-all {
  text-align: right;
}




/*Product Detail Page CSS*/
#product-detail-body {
  font-family: "Roboto-Thin" !important;
  width: 100%;
}
#product-detail-body h2 {
  color: #0B1035;
  font-size: 42px;
  line-height: 54px;
  margin: 0;
}
.h2-sub {
  color: #9B9B9B !important;
  display: inline-block;
}
.in-stock-text {
  font-size: 14px;
  font-family: "Roboto-Regular";
  color: #9B9B9B;
  letter-spacing: 2px;
  display: inline-block;
  transform: translateY(-50%);
  margin-left: 10px;
}
#description-text {
  margin: 10px 0 0 0;
}
#product-detail-body p {
  color: #9B9B9B;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 26px;
}
#product-cont {
  margin-top: 140px;
}
.content-cont {
  max-width: 1460px;
  margin-left: auto;
  margin-right: auto;
}
.product-main-img img {
  width: 100%;
}
.product-side-img-cont {
  margin: 60px 0 0 0;
}
.product-side-img-cont img {
  width: 30%;
  float: left;
}
#product-side2 {
  margin: 0 5%;
}
.product-description-cont {
  position: relative;
  height: auto;
  margin: 0;
}
.product-description-cont p {
  width: 440px;
}
#product-colors-cont {
  width: 80%;
  margin: 50px 0 30px 0;
  overflow: auto;
}
.product-color {
  width: 40px;
  height: 40px;
  float: left;
  margin: 0 10px 10px 0;
}
#color1 {background:black;}
#color2 {background:navy;}
#color3 {background:blue;}
#color4 {background:maroon;}
#color5 {background:red;}
#color6 {background:brown;}
#color7 {background:gray;}

#option-btn-cont {
  margin: 0 0 30px 0;
  width: 80%;
}
.option-btn {
  padding: 0;
  width: 45%;
  height: 40px;
  background: none;
  border: none;
  border-bottom: 2px solid #9B9B9B;
  text-align: left;
  font-family: "Roboto-Regular";
  font-size: 14px;
  letter-spacing: 2px;
}
#btn-quantity {
  float: right;
}
.bottom-btn-cont {
  width: 80%;
  margin: 0 0 30px 0;
}
#btn-cart {
  width: 100%;
  height: 40px;
  background: black;
  color: white;
  letter-spacing: 4px;
  border-radius: 0;
}
.small-descrip {
  font-size: 14px !important;
  letter-spacing: 2px !important;
}
#suggested-cont {
  position: relative;
  width: 100%;
  height: 436px;
  margin: 100px 0 0 0;
  background: #FAFAFA;
}
.suggested-text-cont {
  transform: translateY(170%);
}
.suggested-text-cont p {
  font-family: "Roboto-Regular";
  font-size: 14px !important;
  letter-spacing: 4px !important;
  color: #0B1035 !important;
  margin: 15px 0 0 0;
}
#suggested-item1 {
  transform: translateY(30%);
}
#suggested-item2 {
  transform: translateY(20%);
}
#banner-cont {
  width: 100%;
  height: 264px;
  margin: 0;
  background: #0B1035;
}
.banner-text {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
  transform: translateY(60%);
}
.banner-text button {
  height: 40px;
  width: 16%;
  margin: 10px 0 0 0;
  background: white;
  color: #0B1035;
  border: 0;
  font-family: "Roboto-Regular";
  font-size: 14px;
  letter-spacing: 4px;
}
#substitute-header {
  height: 400px;
  background: #FAFAFA;
}

/* MEDIA QUERIES */

@media (max-width: 1200px){
  .clothing-showcase img.first {
    width:450px;
    height:450px;
  }

  .clothing-showcase img.second {
    width:515px;
    height:515px;
  }

  .clothing-showcase img.third {
    width:443px;
    height:443px;
  }

  .our-process h3 {
    margin-top:50px;
  }

  .our-process .about-btn {
    margin-bottom:100px;
  }

  .from-the-blog .col-md-2{
    display:block!important;
    float:none;
    margin: 0 auto;
    width:100%;
  }

  .from-the-blog .view-all {
    margin-top:12px;
  }

  .from-the-blog .col-md-10{
    display:block!important;
    width: 100%;
  }

  .from-the-blog h3 {
    margin:0 auto;
    text-align:center;
  }

  .instagram img {
    width:250px;
    height:250px;
  }
}


@media (max-width: 991px){
  .clothing-showcase-wrap {
    text-align: center;
  }
  .clothing-showcase-wrap .row-one img {
    margin-bottom: 20px;
  }
  .clothing-showcase-wrap .row-two {
    display: flex;
    flex-flow:column;
  }
  .clothing-showcase-wrap .row-two img {
    margin-bottom: -10px;
  }
  .clothing-showcase-wrap .row-two .col-one {
    order:2;
  }
  .clothing-showcase-wrap .row-two .col-two {
    order:1;
  }
  .clothing-showcase h3 {
    margin-top:10px;
  }
  .clothing-showcase p.description {
    width:auto;
  }

  .our-process {
    text-align:center;
  }
  .our-process .col-md-7 {
    padding:30px;
  }
  .our-process p.description {
    padding-right:0px;
  }
  .from-the-blog .blog-post {
    margin-left: 0px;
    margin-right:0px;
  }


  .instagram img {
    width:450px;
    height:450px;
    display:block;
    margin:0 auto;
  }

  footer.stateline-footer .row {
    text-align:center;
  }

  footer.stateline-footer .social-media-icons {
    margin-bottom:50px;
    margin-top:60px;
  }
}
